@import "../scss/variables";

.cursor {
  width: 1.4rem;
  height: 1.4rem;
  background: $subColor;
  border-radius: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  user-select: none;
  pointer-events: none;
  margin: -0.7rem auto 0 -0.6rem;
  opacity: 1;
  transform: scale(1);
  transition: top 0.07s, left 0.07s, transform 0.3s, opacity 0.3s;
  backface-visibility: hidden;

  &.active {
    transform: scale(5);
    mix-blend-mode: exclusion;
    opacity: 0.4;
  }
}
