$mainColor: #fff;
$subColor: #ff3975;

$bgColor: #392478;
$dropGrey: rgba(255, 255, 255, 0.8);
$btnShadow: 0 8px 12px 0 rgba(101, 1, 44, 0.33);
$txtShadow: 1px 1px 1px rgba(34, 0, 136, .7);

$fontSizeL: 10rem;
$fontSizeM: 4rem;
$fontSizeS: 2rem;